<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>JTester</title>
<th:block th:insert="fragments/head :: stylesheets">css</th:block>
</head>
<body>

	<nav th:replace="fragments/navbar :: navbar">Navbar</nav>

	<div class="container">

		<div id="questionPanel">


		</div>


	</div>


	<footer>
		<script th:src="@{/js/react/react.production.min.js}"></script>
		<script th:src="@{/js/react/react-dom.production.min.js}"></script>
		<script th:src="@{/js/babel/babel.min.js}"></script>
		<script type="text/babel" th:src="@{/js/app/SelectQuiz.js}"></script>
		<script type="text/babel" th:src="@{/js/app/QuestionPanel.js}"></script>
		<script type="text/babel" th:src="@{/js/app/App.js}"></script>
	</footer>





</body>
</html>