<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>JTester</title>
<th:block th:insert="fragments/head :: stylesheets">css</th:block>
<link rel="stylesheet" th:href="@{/css/test.css}">

</head>
<body>

	<nav th:replace="fragments/navbar :: navbar">Navbar</nav>

	<div class="container">

		<div id="questionPanel">

			<fieldset>
			
			  <div class="form-row">
    <div class="col">
      <label for="examSelect" >Exam</label> 
					<select class="form-control" id="examSelect" onchange="console.log('asd')">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
    </div>
    <div class="col">
<label for="categorySelect">Category</label> <select
						class="form-control" id="categorySelect">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>    </div>
  </div>

<!-- 				<div class="form-row"> -->
<!-- 				<div class="col"> -->
<!-- 					<label for="examSelect">Exam</label>  -->
<!-- 					<select class="form-control" id="examSelect"> -->
<!-- 						<option>1</option> -->
<!-- 						<option>2</option> -->
<!-- 						<option>3</option> -->
<!-- 						<option>4</option> -->
<!-- 						<option>5</option> -->
<!-- 					</select> -->
<!-- 					<div class="col"> -->
<!-- 					<label for="categorySelect">Category</label> <select -->
<!-- 						class="form-control" id="categorySelect"> -->
<!-- 						<option>1</option> -->
<!-- 						<option>2</option> -->
<!-- 						<option>3</option> -->
<!-- 						<option>4</option> -->
<!-- 						<option>5</option> -->
<!-- 					</select> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 				</div> -->


				<!-- 				<div class="form-group"> -->
				<!-- 					<textarea class="form-control" id="questio" rows="10" readonly></textarea> -->
				<!-- 				</div> -->

				<!-- 				<div class="form-group"> -->

				<!-- 				<ul> -->
				<!-- 					<li><input type="checkbox" class="form-check-input" id="A"> -->
				<!-- 					<label class="form-check-label" for="B">Opzione A bla bla bla</label></li> -->
				<!-- 					<li><input type="checkbox" class="form-check-input" id="A">  -->
				<!-- 					<label class="form-check-label" for="B">Opzione B bla bla bla</label></li> -->
				<!-- 				</ul> -->

				<!-- 				</div> -->

				<!-- 				<div class="form-group"> -->

				<!-- 				<button class="btn btn-secondary" >Previous</button> -->
				<!-- 				<button class="btn btn-secondary float-right" >Next</button> -->


				<!-- 				</div> -->

			</fieldset>

		</div>


	</div>


	<footer>
		<script th:src="@{/js/react/react.production.min.js}"></script>
		<script th:src="@{/js/react/react-dom.production.min.js}"></script>
		<script th:src="@{/js/babel/babel.min.js}"></script>
		<script type="text/babel" th:src="@{/js/app/App.js}"></script>
	</footer>





</body>
</html>